# Dependencies
node_modules

# Next.js build output
.next
out

# Production database files
public/.fscrape
*.db

# Development tools
.todoq
.tfq

# Build files
*.tsbuildinfo
package-lock.json

# Environment variables
.env*

# OS files
.DS_Store